* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: LeytonPersonal;
    src: url(./fonts/LeytonPersonal.otf);
}

@font-face {
    font-family: RollgatesLuxury;
    src: url(./fonts/RollgatesLuxury.ttf);
}

@font-face {
    font-family: Southine;
    src: url(./fonts/Southine.otf);
}

.Banner {
    position: relative;
}

.design_1 {
    border: 1px solid black;
    background-color: #e3cdb6;
    width: 90%;
    height: 65vh;
    margin: auto;
    overflow: hidden;
}

body {
    background-color:#ffffff;
}

.design_1 {
    position: relative;
    display: flex;
}

.design_1>img {
    height: 100%;
    width: 60%
}

.offer {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
}

.Best {
    font-family: LeytonPersonal;
    font-size: 3.5rem;
    padding: 0px;
    margin: 0px;
}

.off {
    font-family: RollgatesLuxury;
    font-size: 2.5rem;
    margin: 0px;
    padding: 0px;

}

.Buy {
    margin: 0px;
    padding: 0px;
    font-family: Southine;
    font-size: 1.5rem;
}

.Explore {
    /*border: 1px solid black;*/
    width: 85%;
    height: 60vh;
    margin: auto;
    justify-content: center;
}

.Products {
    text-align: center;
    color: black;
}

.deals {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /*border: 1px solid black;*/
    width: 85%;
    margin: auto;
    position: relative;
}
#box{
    padding: 20px;
    margin: 5px;
    /*background-color: aqua;*/
    text-align: center;
    cursor: pointer;
    transform: scale(.8);
    color: black;
    transition: 1s;
}
#box:hover{
    transform: scale(1);
}
#box:active{
    transform: scale(.8);
}
.box {
    /*border: 1px solid black;*/
    padding: 30px;
    margin: 5px;
    /*background-color: aqua;*/
    text-align: center;
    cursor: pointer;
    transform: scale(.9);
    transition-delay: .01s;
    color: black;
}

.box:hover {
    transform: scale(1);
    color: gold;
}

.box:active {
    transform: scale(.9);
}

.place {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
    margin: auto;
    position: absolute;
}
.city {
    width: 85%;
    margin: auto;
    justify-content: center;
}

.place {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
    margin: auto;
    position: relative;
}

#box {
    margin: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
}
@media all and (max-width:576px){
    .Banner{
        position: relative;
    }
    .design_1{
        flex-direction: column;
        width: 90%;
        height: 100%;
        margin: auto;
        overflow: hidden;

    }
    .design_1 > img{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        margin: auto;
    }
    .design_1 > .offer{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        margin: auto;
        gap: 20px;
        justify-content: center;
        align-items: center;
        align-content: center;
        overflow: hidden;
    }
    .Explore > .Products{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
    }
    .Explore > .deals{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: auto;
    }
    .Products{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .Explore{
        height: 100%;
    }

}
@media all and (max-width:768px){
    .Banner{
        position: relative;
    }
    .design_1{
        flex-direction: column;
        width: 90%;
        height: 100%;
        margin: auto;
        overflow: hidden;

    }
    .design_1 > img{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        margin: auto;
    }
    .design_1 > .offer{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        margin: auto;
        gap: 20px;
        justify-content: center;
        align-items: center;
        align-content: center;
        overflow: hidden;
    }
    .Explore > .Products{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
    }
    .Explore > .deals{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: auto;
    }
    .Products{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .Explore{
        height: 100%;
    }

}
@media all and (max-width:992px){
    .Banner{
        position: relative;
    }
    .design_1{
        flex-direction: column;
        width: 90%;
        height: 100%;
        margin: auto;
        overflow: hidden;

    }
    .design_1 > img{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        margin: auto;
    }
    .design_1 > .offer{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        margin: auto;
        gap: 20px;
        justify-content: center;
        align-items: center;
        align-content: center;
        overflow: hidden;
    }
    .Explore > .Products{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
    }
    .Explore > .deals{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: auto;
    }
    .Products{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .Explore{
        height: 100%;
    }

}
@media all and (max-width:1200px){
    .Banner{
        position: relative;
    }
    .design_1{
        flex-direction: column;
        width: 90%;
        height: 100%;
        margin: auto;
        overflow: hidden;

    }
    .design_1 > img{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        margin: auto;
    }
    .design_1 > .offer{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        margin: auto;
        gap: 20px;
        justify-content: center;
        align-items: center;
        align-content: center;
        overflow: hidden;
    }
    .Explore > .Products{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
    }
    .Explore > .deals{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: auto;
    }
    .Products{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .Explore{
        height: 100%;
    }

}