@font-face {
    font-family: GreatVibesRegular;
    src: url(./fonts/GreatVibesRegular.ttf);
}

@font-face {
    font-family: Nav;
    src: url(./fonts/Nav.ttf);
}

@font-face {
    font-family: RollgatesLuxury;
    src: url(./fonts/RollgatesLuxury.ttf);
}

@font-face {
    font-family: Southine;
    src: url(./fonts/Southine.otf);
}

@font-face {
    font-family: LeytonPersonal;
    src: url(./fonts/LeytonPersonal.otf);
}

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: LeytonPersonal;
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

Nav {
    padding: 0px;
}

Nav ul {
    list-style: none;
    display: flex;
}

ul li a {
    font-family: Nav;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 20px;
    color: #000000;
    transform: scale(.9);
    transition: .2s;
    width: 100%;
}

ul li a:hover {
    color: orange;
    transform: scale(1);
}

ul li a:active {
    color: orange;
    transform: scale(.9);
}

@media all and (max-width:500px) {
    header {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        left: 0%;
        width: 100%;
    }

    h1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0%;
    }
}